.logo-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo-svg {
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.2));
}

.logo-container.small svg {
  width: 48px;
  height: 48px;
}

.logo-container.medium svg {
  width: 64px;
  height: 64px;
}

.logo-container.large svg {
  width: 120px;
  height: 120px;
}
